body {
  margin: 0;
  padding: 0;
  background-image: url("../img/image.png");  
  background-size: cover;                   
  background-repeat: no-repeat;             
  background-position: center;             
}

.main-header {
  background: linear-gradient(135deg, #2e7d32, #1b5e20);
  color: white;
  padding: 15px;   
  position: sticky;
  top: 0;
  z-index: 1000;
  text-align: center;
  border-bottom: 5px solid #145214; 
  box-shadow: 0 3px 8px rgba(0,0,0,0.25);
}

.logo-title h1 {
  font-size: 2.2rem;  
  margin: 0;
  font-weight: 800;
}

.logo-title .subtitle {
  font-size: 1rem;   
  margin: 5px 0 0;
  font-style: italic;
  opacity: 0.9;
}



.content-box {
  background: #f1f8e9;
  padding: 20px;                 
  margin: 30px auto;             
  border-radius: 12px;           
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  max-width: 700px;              
  animation: slideUp 1s ease-out;


  border-left: 5px solid #2e7d32;
  border-right: 5px solid #2e7d32;
}

.content-box h2 {
  font-size: 1.8rem;   
  margin-bottom: 12px;
}

.content-box p {
  font-size: 1.05rem;
  line-height: 1.6;
  margin-bottom: 12px;
}

.content-box ul {
  margin: 15px 0 20px 20px;
  font-size: 1.05rem;
}

.content-box li {
  margin-bottom: 10px;
}

/* Animation */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.get-started {
  text-align: center;
  margin-top: 20px;  
}


.get-started .btn {
  display: inline-block;
  padding: 14px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(135deg, #43a047, #2e7d32);
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.get-started .btn:hover {
  background: linear-gradient(135deg, #2e7d32, #1b5e20);
  transform: scale(1.05);
}
