body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #00cc99 0%, #00cc66 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


.login {
  background: #ffffff;
  padding: 45px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  width: 350px;
  text-align: center;
}


.login h1 {
  color: white;
  margin-bottom: 10px;
  text-align: center;
  padding: 15px; 
  border-radius: 8px 8px 0 0; 
  margin: -20px -20px 20px -20px;
  background-color: #2d8659;
}


.login label {
  display: block;
  margin-top: 15px;
  text-align: left;
  font-weight: 600;
  color: #2e7d32;
}


.login input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 2px solid #81c784;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

.login input:focus {
  border-color: #2e7d32;
  box-shadow: 0 0 8px #81c784;
}


.login button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: #2e7d32;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
}

.login button:hover {
  background: #1b5e20;
  transform: scale(1.05);
}
